/* Google font - Azeret Mono  */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Colors */
  --background-color: #f6ecec;
  --primary-color: #0d1321;
  --secondary-color: rgba(58, 59, 62, 0.813);
  /* 
  /* --text-color: #333333; */

  /* Fonts */
  --font-family: "Azeret Mono", monospace;
  --font-size-extrabold-48: 48px;
  --font-size-extrabold-28: 28px;
  --font-size-semibold-20: 20px;
  --fw-extrabold: 800;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;
  /* 
  --font-size-h1: 48px;
  --font-size-h4: 24px;
  --font-size-button: 20px;
  */

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  /* 
  --spacing-xl: 32px;
  --spacing-xxl: 48px; */
}

/* BASE STYLES */
html {
  /* font-size: var(--font-size-base); */
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  /* max-width: 1140px; */
  /* margin: auto; */
  /* font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.6; */
}

/* MAIN LAYOUT */
header {
  /* Header styles */
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

nav h1 {
  font-size: var(--font-size-extrabold-28);
  font-weight: var(--fw-extrabold);
}

nav button {
  font-size: var(--font-size-semibold-20);
  font-weight: var(--font-size-semibold-20);
  background: transparent;
  border: 1px solid gray;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-sm);
}

.hero-contents {
  background: url("./assets/hero-bg.png");
  width: 100%;
  height: 80vh;
  object-fit: cover;
  display: block;
  text-align: center;
}

.hero-contents img {
  padding: var(--spacing-lg);
}

.hero-description {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.hero-contents h1 {
  padding: var(--spacing-lg);
}
.hero-contents p {
  padding: var(--spacing-lg);
}

.hero-contents button {
  font-size: var(--font-size-semibold-20);
  font-weight: var(--font-size-semibold-20);
  background: var(--primary-color);
  border: 1px solid gray;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-sm);
  color: white;
  margin: var(--spacing-lg);
}

/* why web development section */

.why-webdev-container {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 16px;
}

.why-webdev-h-title-container {
  text-align: center;
}

.qna-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qna-two {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.qna-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-inspiration-container {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 16px;
  text-align: center;
}

.my-inspiration-contents {
  margin-bottom: 100px;
}

/* my current target section */
.my-current-target-container {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 16px;
  text-align: center;
}

.my-current-target-all-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* my next target section */
.my-next-target-container {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 16px;
  /* text-align: center; */
}

.my-next-target-h-description {
  text-align: center;
  margin: 50px 0;
}

.reactjs-container {
  display: flex;
  align-items: center;
}

.nodejs-container {
  display: flex;
  align-items: center;
}
.mongodb-container {
  display: flex;
  align-items: center;
}

/* support section */
.i-need-support-container {
  background: url("./assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 1140px;
  width: 100%;
  height: 40vh;
  margin: 100px auto;
  text-align: center;
  color: white;
}

.footer-h-icons {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOR RESPONSIVE */
/* Large desktop (1140px+) */
/* @media (max-width: 1140px) { } */

/* Tablet */
@media (max-width: 992px) {
}

/* Small tablet / large phone */
@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 576px) {
  /* for nav bar */
  nav h1 {
    font-size: var(--font-size-semibold-20);
    font-weight: var(--fw-regular);
  }

  nav button {
    font-size: var(--font-size-semibold-20);
    font-weight: var(--fw-regular);
    background: transparent;
    border: 1px solid gray;
    padding: var(--spacing-md) var(--spacing-md);
    border-radius: var(--spacing-sm);
  }

  /* for hero section*/
  .hero-contents img {
    width: 35%;
    height: auto;
  }

  .hero-contents h1 {
    font-size: var(--font-size-semibold-20);
    padding: var(--spacing-xs) 0;
    font-weight: var(--fw-semibold);
  }
  .hero-contents p {
    padding: var(--spacing-sm) 0;
    font-size: 12px;
    margin-top: 10px;
  }

  .hero-contents button {
    font-size: 12px;
    font-weight: var(--fw-regular);
    background: var(--primary-color);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--spacing-sm);
    color: white;
  }
}
