/* Google font - Azeret Mono  */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Colors */
  /* --primary-color: #0D1321;
  --secondary-color: rgba(13, 19, 33, 0.7);
  --background-color: #FFFFFF; */
  /* --text-color: #333333; */

  /* Fonts */
  /* --font-family: "Azeret Mono", monospace;
  --font-size-extrabold-48: 48px;
  --font-size-semibold-20: 20px;
  --font-size-h1: 48px;
  --font-size-h4: 24px;
  --font-size-button: 20px;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800; */

  /* Spacing */
  /* --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px; */
}

/* BASE STYLES */
html {
  /* font-size: var(--font-size-base); */
}

body {
  /* font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6; */
}

/* MAIN LAYOUT */
header {
  /* Header styles */
}

main {
  /* Main content styles */
}

footer {
  /* Footer styles */
}
