/* Google font - Azeret Mono  */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Colors */
  --background-color: #f6ecec;
  --primary-color: #0d1321;
  --secondary-color: rgba(58, 59, 62, 0.813);
  /* 
  /* --text-color: #333333; */

  /* Fonts */
  --font-family: "Azeret Mono", monospace;
  --font-size-extrabold-28: 28px;
  --font-size-semibold-20: 20px;
  --fw-extrabold: 800;
  --fw-semibold: 600;
  /* 
  --font-size-extrabold-48: 48px;
  --font-size-h1: 48px;
  --font-size-h4: 24px;
  --font-size-button: 20px;
  --fw-regular: 400;
  --fw-bold: 700;
  */

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  /* 
  --spacing-xl: 32px;
  --spacing-xxl: 48px; */
}

/* BASE STYLES */
html {
  /* font-size: var(--font-size-base); */
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  max-width: 1140px;
  margin: auto;
  /* font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.6; */
}

/* MAIN LAYOUT */
header {
  /* Header styles */
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

nav h1 {
  font-size: var(--font-size-extrabold-28);
  font-weight: var(--fw-extrabold);
}

nav button {
  font-size: var(--font-size-semibold-20);
  font-weight: var(--font-size-semibold-20);
  background: transparent;
  border: 1px solid gray;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-sm);
}

.hero-contents {
  background: url("./assets/hero-bg.png");
  width: 100%;
  height: 80vh;
  object-fit: cover;
  display: block;
  text-align: center;
}

.hero-contents img {
  padding: var(--spacing-lg);
}
.hero-contents h1 {
  padding: var(--spacing-lg);
}
.hero-contents p {
  padding: var(--spacing-lg);
}

.hero-contents button {
  font-size: var(--font-size-semibold-20);
  font-weight: var(--font-size-semibold-20);
  background: var(--primary-color);
  border: 1px solid gray;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-sm);
  color: white;
  margin: var(--spacing-lg);
}

main {
  /* Main content styles */
}

footer {
  /* Footer styles */
}
